@model IEnumerable<Clm_Booking.Models.ClientClm>

@{
    ViewBag.Title = "Bookings";

    if (Session["email"] == null)
    {
        Response.Redirect("~/Admin/Login");
    }

}
<div style="text-align:center;">
    <h2>Current Schedules</h2>
</div>

<p style="font-size:1.4em; margin:10px;">
    @Html.ActionLink("View Previous Schedules", "PreviousBooking")
</p>


<div class="container-fluid">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booktime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bookdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.booktime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comments)
                </td>
                <td>
                    @Html.ActionLink("Done", "CompleteBooking", new { id = item.ClientID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Cancel", "CompleteBooking", new { id = item.ClientID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

</div>
